.first,
.second,
.third,
.fourth {
  transition: all 0.5s ease-in;
}

.first {
  transform: translateX(0);
}

.second {
  transform: translateX(100% * 2 - 65%);
}

.third {
  transform: translateX(100% * 3 - 30%);
}
